langchain
langchain-huggingface
langchain-community
langchain-chroma
chromadb
pypdf
sentence-transformers
torch
marker-pdf
Pillow
jsonschema
django
djangorestframework
django-cors-headers
pymupdf
tiktoken
rank_bm25
whitenoise