langchain
langchain-huggingface
langchain-community
langchain-chroma
chromadb
pypdf
sentence-transformers
torch
jsonschema
django
djangorestframework
django-cors-headers
pymupdf
tiktoken
rank_bm25
whitenoise
python-dotenv
groq
together
pillow